


div.header {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.75em;
    width:500px;
    margin:0 auto;
    height: 40px;
    background-color: #c8ff87;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;

}

div.footer {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.75em;
    width:400px;
    margin:0 auto;
    height: 60px;
    background-color: #fff731;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;

}

div.roomprev {
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
    height: 350px;
    width: 400px;
    background-color: #79ff4e;
    background-image: url("../images/bg2.png");
    border-radius: 10px;
}

div.chatblock {
    height: 70%;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(36, 203, 20);
}

div.editblock {
    margin: 0 auto;
    width: 94%;
    float: left;
    height: 16%;
    margin-top: 5px;
    border-radius: 10px;
    padding-left: 10px;
    background-color: #79ff4e;
    padding-top: 5px;
    padding-right: 10px;
}

#chat {
    min-width: 310px;
    min-height: 300px;
    float: left;
    margin: 10px;
    padding: 10px;
    background-color: rgb(200, 255, 135);
    width: 310px;
    height: 960px;
    opacity: 0.75;
    border-radius: 10px;

}

#sendbutton {
    float: right;
    height: 37px;
    width: 120px;
    margin:0 auto;
}

#messageblock {

    float: left;
    height: 100px;
    width: 280px;
    margin-bottom: 10px;
    margin-right:10px;

}




div.message{
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    font-size: 0.75em;
    width: 98%;
    margin:5px auto;
    padding: 5px;
    background-color: #31d0ff;


}

div.container {
    margin:0 auto;
    margin-top:10px;
    background-image: url("../images/bg6.png");
    width: 1300px;
    height: 900px;
    border-radius: 10px;
}

div.sidebar {
    float: left;
    margin: 10px;

    background-color: rgb(121, 255, 78);
    width: 350px;
    height: 300px;
    opacity: 0.5;
    border-radius: 10px;
}

div.room {
    float:left;
    width: 950px;
    height: 900px;

    background-image: url("../images/123.png");
}
div.login{
    margin:0 auto;
    margin-top:10px;
    background-image: url("../images/bg3.png");
    width: 150px;
    height: 30px;
    border-radius: 10px;

}
div.pushlogin{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 5px;
    margin-bottom: 10px;
    float: left;
    height: 20px;
    width: 110px;
    background-color: #79ff4e;
    background-image: url("../images/bg2.png");
    border-radius: 10px;
}
body {
    padding: 15px;
    margin: 0;
    background-image: url("../images/bg4.png");
}


